/** Importando uma fonte especifica do google fonts **/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/** e a pagina inteiro, é uma camada acima do body*/
* {
    margin: 0;
    padding: 0;
    /** Com box-sizing: border-box, o navegador passa a incluir o conteúdo + padding + borda dentro do valor definido de largura e altura.
        Isso facilita o controle do layout, porque o tamanho final do elemento não muda quando você adiciona bordas ou espaçamentos internos. **/
    box-sizing: border-box;
}

body {
    /** Muda a cor do fundo da pagina **/
    background-color: #080808;
    /** Usa a fonte importada do google fonts **/

    /** Muda a expessura da fonte **/
    font-weight: 400;
}

header {
    /** Usar a medida em rem (unidade de medida relativa), deixa a nossa pagima dinamica **/
    padding: 1rem;
    margin: 0 2rem 0 2rem;
    text-align: center;
    background-color: #1b1b1b;
    font-family: "IBM Plex Mono", monospace;
}

header h1 {
    font-family: "Raleway", sans-serif;
}

.nav-item .nav-link {
    /** Muda a cor das letras **/
    color: #9c9c9c !important;
}

#bt-green{
    background-color: #3F8E00;
    font-family: "IBM Plex Mono", monospace;
}

p {
    font-family: "IBM Plex Mono", monospace;
    color: #9c9c9c !important;
}

.nome{
    color: #ffffff;
}

#projetos{
    background-color: #ffffff;
}

/* Seção Tecnologias */
#tecnologias {
    background-color: #0d0d0d; /* fundo escuro */
}

.card-tecnologia {
    background-color: transparent; /* fundo do card transparente */
    border: 1px solid #333; /* borda suave */
    border-radius: 10px;
    text-align: left;
    position: relative;
    color: #d1d1d1;
    transition: all 0.3s ease;
}

.card-tecnologia:hover {
    border-color: #00ff88; /* destaque no hover */
    transform: translateY(-5px);
}

.card-tecnologia .aspas {
    font-size: 3rem;
    line-height: 1;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 15px;
}

.card-tecnologia p {
    margin-top: 30px; /* espaço para as aspas */
    font-size: 0.95rem;
}

.card-tecnologia h5 {
    color: #fff;
}
